:root {
  --main-regular: #323264;
  --main-alt: #46466E;
  --main-soft: #686887;
  --accent: #F0145A;
  --active-regular: #24A3FF;
  --active-hover: #0085FF;
  --active-active: #006CCF;
  --grey-bg: #F5F5FA;
  --grey-bg-alt: #EDEDF7;
  --grey-text: #B3B3BA;
  --grey-separator: #E6E6F0;
  --gradient-regular: linear-gradient(129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  --gradient-soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  --gradien-red: linear-gradient(323deg, #F0145A 6.7%, #693264 70.36%);
  --gradient-supersoft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --gradient-red-text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  --gradient-red-text-reversed: linear-gradient(90deg, #EF8080 0.84%,#F0145A 99.96%);
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  transition: 0.3s;
  margin: 0;
}

a {
  color: var(--active-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  cursor: pointer;
}
a:hover {
  color: var(--accent);
}

h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--gradient-red-text);
}

h2 {
  color: var(--main-regular);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: var(--main-regular);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: var(--main-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 0;
}

ul li::marker {
  color: var(--accent);
}

ol li::marker {
  color: var(--accent);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.center {
  padding-left: calc(50vw - 660px);
  padding-right: calc(50vw - 660px);
}
@media screen and (min-width: 1920px) {
  .center {
    padding-left: calc(50vw - 800px);
    padding-right: calc(50vw - 800px);
  }
}
@media screen and (max-width: 1024px) {
  .center {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
}
@media screen and (max-width: 800px) {
  .center {
    padding-left: calc(50vw - 324px);
    padding-right: calc(50vw - 324px);
  }
}
@media screen and (max-width: 390px) {
  .center {
    padding-left: calc(50vw - 158px);
    padding-right: calc(50vw - 158px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--active-regular);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  padding: 18px 30px;
}
.btn-main:hover {
  background: var(--active-hover);
}
.btn-main:active {
  background: var(--active-active);
}

.splasher {
  background: var(--gradient-supersoft);
  background-repeat: no-repeat;
  position: relative;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 60px;
}

.shadow-top {
  margin: 0 20px;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}
.shadow-bottom {
  margin: 0 40px;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #E7E7F2;
}

.page__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.page__link:hover + svg #Arrow__vector, .page__link #Arrow__vector:hover {
  stroke: var(--accent);
}

.header {
  padding-top: 50px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  align-items: start;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .header {
    grid-template-columns: 100%;
    gap: 30px;
  }
}
@media screen and (max-width: 390px) {
  .header {
    gap: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__bg {
  position: absolute;
  pointer-events: none;
}
@media screen and (max-width: 390px) {
  .header__bg {
    background: rgba(245, 245, 250, 0.2);
    height: 42px;
    width: 100%;
    top: 0;
    left: 0;
  }
}
.header__burger-menu {
  display: block;
  width: 318px;
  height: 351px;
  background: #FFF;
  position: absolute;
  border-radius: 10px;
  transform: translateY(100%);
  left: -300px;
  visibility: hidden;
  opacity: 0;
  padding: 12px;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}
.header__burger-menu__label {
  display: flex;
  position: absolute;
  width: 11px;
  height: 12px;
  justify-content: center;
  align-items: center;
  right: 19px;
  top: 19px;
  cursor: pointer;
}
.header__burger-menu__div {
  display: inline-block;
  background: #EC6F5D;
  height: 2px;
  width: 18px;
  position: absolute;
}
.header__burger-menu .one {
  transform: rotate(45deg);
}
.header__burger-menu .two {
  transform: rotate(-45deg);
}
.header__burger-menu__list {
  padding: 0;
  margin-top: 64px;
}
.header__burger-menu__item {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--grey-bg);
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 7px;
}
.header__burger-menu__item:active {
  background: var(--grey-separator);
}
.header__burger-menu__link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}
.header__burger-menu__link_active {
  color: var(--accent);
}
#burger:checked + .header__burger-menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.header-logo {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 302px;
}
@media screen and (max-width: 800px) {
  .header-logo {
    grid-column: unset;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 390px) {
  .header-logo {
    margin-top: 25px;
  }
}
.header-logo__display {
  display: flex;
}
.header-logo__display a {
  text-decoration: none;
}
.header-logo__name {
  margin: 0;
  display: flex;
  color: #fff;
  letter-spacing: 1px;
  margin-left: -2px;
}
@media screen and (max-width: 390px) {
  .header-logo__name {
    font-size: 20px;
  }
}
.header-logo__name span {
  color: var(--accent);
}
@media screen and (max-width: 390px) {
  .header-logo__img {
    height: 20px;
  }
}
.header-logo__page {
  display: none;
  align-items: center;
}
.header-logo__current {
  user-select: none;
  color: #fff;
}
@media screen and (max-width: 390px) {
  .header-logo__current {
    font-size: 20px;
    font-weight: 400;
  }
}
.header-logo__desc {
  color: #fff;
  font-size: 7px;
  height: 7px;
  letter-spacing: 6px;
  margin-top: 6.5px;
  user-select: none;
}
@media screen and (max-width: 390px) {
  .header-logo__desc {
    font-size: 5px;
    letter-spacing: 3px;
  }
}
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (max-width: 800px) {
  .header-contacts {
    grid-column: unset;
    grid-row: 1/2;
    justify-content: start;
  }
}
@media screen and (max-width: 390px) {
  .header-contacts {
    justify-content: space-between;
  }
}
.header-contacts__dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 6px;
  background: var(--grey-separator);
}
@media screen and (max-width: 390px) {
  .header-contacts__dot {
    display: none;
  }
}
.header-contacts__language-block__label {
  display: inline-flex;
  width: 33px;
  height: 25px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 25%;
  cursor: pointer;
}
.header-contacts__language-block__radio:checked + .header-contacts__language-block__label {
  background: var(--accent);
}
.header-contacts__language-block__label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 390px) {
  .header-contacts__address-block {
    display: none;
  }
}
.header-contacts__address-block__link {
  color: #fff;
}
.header-contacts__address-block__link:hover {
  color: #fff;
}
.header-contacts__phone-block__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.header-contacts__phone-block__link:hover {
  color: #fff;
}
@media screen and (max-width: 390px) {
  .header-contacts__facebook-block {
    display: none;
  }
}
.header-contacts__facebook-block__link:hover path {
  fill: var(--accent);
}
.header-nav {
  display: flex;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: -20px;
}
@media screen and (max-width: 800px) {
  .header-nav {
    grid-column: unset;
    grid-row: 3/4;
    margin-top: 0;
    justify-content: start;
  }
}
@media screen and (max-width: 390px) {
  .header-nav {
    justify-content: end;
    width: 100%;
  }
}
.header-nav__list {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}
@media screen and (max-width: 390px) {
  .header-nav__list {
    display: none;
  }
}
.header-nav__link {
  text-decoration: none;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 700;
}
.header-nav__link:hover {
  color: #fff;
  border-bottom: 2px solid currentColor;
}
.header-nav__link_active {
  color: var(--accent);
}
.header-nav__link_active:hover {
  color: var(--accent);
  border-bottom: 2px solid currentColor;
}
.header-nav__burger {
  display: none;
}
@media screen and (max-width: 390px) {
  .header-nav__burger {
    display: inline-block;
    position: absolute;
    top: 59px;
  }
}
.header-nav__burger_label {
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.header-nav__burger_label:active {
  background: var(--main-alt);
}
#burger:checked + div + .header-nav__burger_label {
  opacity: 0;
  visibility: hidden;
}
.header-nav__burger_div {
  display: flex;
  position: relative;
  top: -3px;
  left: 0;
  width: 18px;
  height: 2px;
  background: #fff;
}
.header-nav__burger_div:nth-last-child(2) {
  top: 0;
}
.header-nav__burger_div:nth-last-child(1) {
  top: 3px;
}

#page__visible {
  display: flex;
}

#services__margin {
  padding-top: 140px;
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  #services__margin {
    padding-top: 260px;
  }
}
@media screen and (max-width: 390px) {
  #services__margin {
    padding-top: 140px;
  }
}

.services {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  gap: 60px;
}
.services__list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .services__list {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 390px) {
  .services__list {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 0;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services__grid-title {
  color: var(--active-regular);
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
.services__desc {
  color: #FFF;
}
.services__img_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  padding: 14px;
  border-radius: 24px;
  margin-bottom: 15px;
  background: #FFF;
}
.services__head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services__link {
  display: flex;
  align-items: center;
}
.services__title {
  font-size: 38px;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__hide {
  display: none;
}

@media screen and (min-width: 1920px) {
  #clients__padding {
    margin-bottom: 60px;
  }
}

.clients {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1920px) {
  .clients {
    padding: 0 100px;
  }
}
.clients__title {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (min-width: 1920px) {
  .clients__container {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 12px;
  }
}
.clients__list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .clients__list {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 390px) {
  .clients__list {
    grid-template-rows: repeat(6, 1fr) repeat(6, 0);
    grid-template-columns: 100%;
  }
}
.clients__item {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.clients__item a {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__item-bg_1 {
  background: #1C4280;
}
.clients__item-bg_2 {
  background: #143646;
}
.clients__item-bg_3 {
  background: #F48B30;
}
.clients__item-bg_4 {
  background: #9E4DC3;
}
.clients__item-bg_5 {
  background: #FD9339;
}
.clients__item-bg_6 {
  background: #E2E2E4;
}
.clients__item-bg_7 {
  background: #C71C36;
}
.clients__item-bg_8 {
  background: #DCF3F9;
}
.clients__item-bg_9 {
  background: #EAEAEA;
}
.clients__item-bg_10 {
  background: #282240;
}
.clients__item-bg_11 {
  background: #1D4568;
}
.clients__item-bg_12 {
  background: #000;
}
.clients__img {
  width: 50%;
}

.footer {
  background: var(--grey-bg);
}
.footer__container {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--grey-bg);
  border-top: 2px solid var(--grey-separator);
}
.footer__container ::after {
  margin: 0 10px;
}
@media screen and (max-width: 390px) {
  .footer__container {
    grid-template-columns: auto;
    gap: 30px;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer__location {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .footer__location {
    flex-direction: column;
    gap: 10px;
  }
}
.footer__address {
  color: var(--main-regular);
  font-size: 16px;
  font-weight: 400;
}
.footer__address-block {
  display: flex;
  align-items: center;
}
.footer__address-block::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: var(--grey-text);
  border-radius: 50%;
}
@media screen and (max-width: 390px) {
  .footer__address-block::after {
    display: none;
  }
}
.footer__map {
  color: var(--active-regular);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__feedback {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .footer__feedback {
    flex-direction: column;
    gap: 10px;
  }
}
.footer__facebook {
  display: flex;
  align-items: center;
}
.footer__facebook::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: var(--grey-text);
  border-radius: 50%;
}
@media screen and (max-width: 390px) {
  .footer__facebook::after {
    display: none;
  }
}
.footer__img:hover path {
  fill: var(--accent);
}
.footer__phone {
  color: var(--main-alt);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.footer__phone:hover {
  color: var(--main-alt);
}
.footer__phone-block {
  display: flex;
  align-items: center;
}
.footer__phone-block::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: var(--grey-text);
  border-radius: 50%;
}
@media screen and (max-width: 390px) {
  .footer__phone-block::after {
    display: none;
  }
}
.footer__mail {
  color: var(--active-regular);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.footer__company {
  color: var(--grey-text);
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  .footer__company {
    position: absolute;
    white-space: nowrap;
  }
}
@media screen and (max-width: 390px) {
  .footer__company {
    position: relative;
  }
}
.footer__company-block {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 390px) {
  .footer__company-block {
    justify-content: center;
  }
}

#footer__border {
  border-top: 0;
}

/*# sourceMappingURL=services_style.css.map */
